Repository Azure/osdu-infrastructure: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipeline-common.yml, azure-pipeline.yml

Path conditions:
  azure-pipeline-common.yml: any of: devops/infrastructure, infra/modules/providers, infra/templates/osdu-r3-resources/configurations/common_resources, test-harness/terratest-extensions, but not: **/*.md
  azure-pipeline.yml: any of: devops/infrastructure, infra/modules/providers, infra/templates/osdu-r2-resources, test-harness/terratest-extensions, azure-pipeline.yml, but not: **/*.md

Added Environments
  azure-pipeline-central.yml
  azure-pipeline-data.yml
  azure-pipeline-service.yml
  devops/infrastructure/pipeline-central.yml
  devops/infrastructure/pipeline-partition.yml
  devops/infrastructure/pipeline-service.yml
Due: azure-pipeline-common.yml, azure-pipeline.yml

Updated paths for default pipelines
  azure-pipeline-central.yml
  azure-pipeline-data.yml
  azure-pipeline-service.yml
  azure-pipeline.yml
Due: azure-pipeline.yml

Validated changes for airflow
  infra/templates/osdu-r3-mvp/service_resources/config_map.tf
  infra/templates/osdu-r3-mvp/service_resources/terraform.tfvars
  infra/templates/osdu-r3-mvp/service_resources/tests/unit/unit_test.go
Due: none

Added Partition ID change for Partition Services
  infra/templates/osdu-r3-mvp/data_partition/secrets.tf
  infra/templates/osdu-r3-mvp/data_partition/tests/unit/unit_test.go
Due: none

Validated changes for airflow (#179)
  infra/templates/osdu-r3-mvp/data_partition/secrets.tf
  infra/templates/osdu-r3-mvp/data_partition/tests/unit/unit_test.go
  infra/templates/osdu-r3-mvp/service_resources/config_map.tf
  infra/templates/osdu-r3-mvp/service_resources/terraform.tfvars
  infra/templates/osdu-r3-mvp/service_resources/tests/unit/unit_test.go
Due: none

Retired R2 on AKS
  README.md
  devops/infrastructure/r3_common_resources.yml
  devops/infrastructure/r3_data_resources.yml
  devops/infrastructure/r3_service_resources.yml
Due: azure-pipeline-common.yml, azure-pipeline.yml

Updated Architecture Picture
  infra/templates/osdu-r3-mvp/docs/images/architecture.png
Due: none

Dropped status badges
  README.md
Due: none

Updated Documentation
  infra/templates/osdu-r3-mvp/README.md
Due: none

Updated Doc
  infra/templates/osdu-r3-mvp/README.md
Due: none

removing outdates manifests, they no longer work with the current state of services
  devops/manifests/README.md
  devops/manifests/appgw-ingress.yaml
  devops/manifests/cert-issuer.yaml
  devops/manifests/default-service.yaml
  devops/manifests/entitlements-azure.yaml
  devops/manifests/indexer-queue.yaml
  devops/manifests/indexer.yaml
  devops/manifests/kv-secrets.yaml
  devops/manifests/legal.yaml
  devops/manifests/osdu-identity.yaml
  devops/manifests/search.yaml
  devops/manifests/storage.yaml
Due: none

fixing dead links
  infra/templates/osdu-r3-resources/README.md
Due: none

removing outdates manifest instructions, users will no longer look at the manifest directory in this repo to deploy services
  infra/templates/osdu-r3-resources/README.md
Due: none

added more specific instructions for setting up .envrc file, included a template for users to fill out
  infra/templates/osdu-r3-resources/README.md
  infra/templates/osdu-r3-resources/docs/setup-environment-variables.md
Due: none

fixed outdated instructions line
  infra/templates/osdu-r3-resources/configurations/service_resources/README.md
Due: none

removed instructions for running tests, these instructions have been moved to each of the individual configurations
  infra/templates/osdu-r3-resources/README.md
Due: none

Updated
  infra/templates/osdu-r3-mvp/docs/images/architecture.png
Due: none

Updated Arch diagram
  infra/templates/osdu-r3-mvp/README.md
  infra/templates/osdu-r3-mvp/docs/images/architecture_diagram.png
Due: none

Updated Architecture
  infra/templates/osdu-r3-mvp/README.md
  infra/templates/osdu-r3-mvp/docs/images/architecture.png
  infra/templates/osdu-r3-mvp/docs/images/architecture_diagram.png
Due: none

Added Storage Accounts for sdms and datapartition meta
  infra/templates/osdu-r3-mvp/central_resources/main.tf
  infra/templates/osdu-r3-mvp/central_resources/secrets.tf
  infra/templates/osdu-r3-mvp/central_resources/tests/unit/unit_test.go
  infra/templates/osdu-r3-mvp/data_partition/main.tf
  infra/templates/osdu-r3-mvp/data_partition/secrets.tf
  infra/templates/osdu-r3-mvp/data_partition/tests/unit/unit_test.go
Due: none

Adding entitlements admin group
  docs/osdu/integration-test-data/tenant_info_1.json
  docs/osdu/integration-test-data/tenant_info_2.json
Due: none

Bug fix prefix sdms secrets with datapartition name
  infra/templates/osdu-r3-mvp/data_partition/secrets.tf
Due: none

Adding entitlements admin group (#182)
  docs/osdu/integration-test-data/tenant_info_1.json
  docs/osdu/integration-test-data/tenant_info_2.json
Due: none

Added Storage Accounts for sdms and datapartition meta (#181)
  infra/templates/osdu-r3-mvp/central_resources/main.tf
  infra/templates/osdu-r3-mvp/central_resources/secrets.tf
  infra/templates/osdu-r3-mvp/central_resources/tests/unit/unit_test.go
  infra/templates/osdu-r3-mvp/data_partition/main.tf
  infra/templates/osdu-r3-mvp/data_partition/secrets.tf
  infra/templates/osdu-r3-mvp/data_partition/tests/unit/unit_test.go
Due: none

Added some additional secrets
  infra/templates/osdu-r3-mvp/central_resources/secrets.tf
  infra/templates/osdu-r3-mvp/central_resources/tests/unit/unit_test.go
  infra/templates/osdu-r3-mvp/service_resources/airflow.tf
  infra/templates/osdu-r3-mvp/service_resources/tests/unit/unit_test.go
Due: none

Added some additional secrets (#183)
  infra/templates/osdu-r3-mvp/central_resources/secrets.tf
  infra/templates/osdu-r3-mvp/central_resources/tests/unit/unit_test.go
  infra/templates/osdu-r3-mvp/service_resources/airflow.tf
  infra/templates/osdu-r3-mvp/service_resources/tests/unit/unit_test.go
Due: none

Network Changes and AKS Version Change
  infra/modules/providers/azure/aks-appgw/main.tf
  infra/modules/providers/azure/aks-appgw/variables.tf
  infra/modules/providers/azure/network/main.tf
  infra/modules/providers/azure/network/variables.tf
  infra/templates/osdu-r3-mvp/service_resources/main.tf
  infra/templates/osdu-r3-mvp/service_resources/tests/unit/unit_test.go
  infra/templates/osdu-r3-mvp/service_resources/variables.tf
Due: azure-pipeline-common.yml, azure-pipeline.yml

Removed second data partition
  devops/infrastructure/pipeline-partition.yml
Due: azure-pipeline-common.yml, azure-pipeline.yml

Network Changes and AKS Version Change (#184)
  devops/infrastructure/pipeline-partition.yml
  infra/modules/providers/azure/aks-appgw/main.tf
  infra/modules/providers/azure/aks-appgw/variables.tf
  infra/modules/providers/azure/network/main.tf
  infra/modules/providers/azure/network/variables.tf
  infra/templates/osdu-r3-mvp/service_resources/main.tf
  infra/templates/osdu-r3-mvp/service_resources/tests/unit/unit_test.go
  infra/templates/osdu-r3-mvp/service_resources/variables.tf
Due: azure-pipeline-common.yml, azure-pipeline.yml

Bug Fix with Helm flux dependencies
  infra/templates/osdu-r3-mvp/service_resources/helm_flux.tf
Due: none

gitops_path variable added
  devops/infrastructure/tasks/tests-unit.yml
  devops/infrastructure/tasks/tf-plan.yml
Due: azure-pipeline-common.yml, azure-pipeline.yml

added initial deployment instructions
  infra/templates/osdu-r3-resources/README.md
Due: none

moved pipeline instructions to its own file
  infra/templates/osdu-r3-resources/README.md
  infra/templates/osdu-r3-resources/docs/deploy-infrastructure-using-pipelines.md
Due: none

updated cluster resources to service resources in documentaiton
  infra/templates/osdu-r3-resources/README.md
Due: none

Central Changes
  infra/modules/providers/azure/keyvault/main.tf
  infra/templates/osdu-r3-mvp/central_resources/main.tf
  infra/templates/osdu-r3-mvp/central_resources/output.tf
  infra/templates/osdu-r3-mvp/central_resources/terraform.tfvars
  infra/templates/osdu-r3-mvp/central_resources/tests/unit/unit_test.go
  infra/templates/osdu-r3-mvp/central_resources/variables.tf
Due: azure-pipeline-common.yml, azure-pipeline.yml

Updated Unit Test Count
  infra/templates/osdu-r3-mvp/central_resources/tests/integration/integration_test.go
Due: none

Updated Config Map
  infra/templates/osdu-r3-mvp/service_resources/config_map.tf
Due: none

Central Changes (#188)
  infra/modules/providers/azure/keyvault/main.tf
  infra/templates/osdu-r3-mvp/central_resources/main.tf
  infra/templates/osdu-r3-mvp/central_resources/output.tf
  infra/templates/osdu-r3-mvp/central_resources/terraform.tfvars
  infra/templates/osdu-r3-mvp/central_resources/tests/integration/integration_test.go
  infra/templates/osdu-r3-mvp/central_resources/tests/unit/unit_test.go
  infra/templates/osdu-r3-mvp/central_resources/variables.tf
  infra/templates/osdu-r3-mvp/service_resources/config_map.tf
Due: azure-pipeline-common.yml, azure-pipeline.yml

Updated cosmos, storage and keys
  infra/modules/providers/azure/cosmosdb/main.tf
  infra/modules/providers/azure/cosmosdb/testing/main.tf
  infra/modules/providers/azure/cosmosdb/variables.tf
  infra/templates/osdu-r3-mvp/data_partition/main.tf
  infra/templates/osdu-r3-mvp/data_partition/secrets.tf
  infra/templates/osdu-r3-mvp/data_partition/terraform.tfvars
  infra/templates/osdu-r3-mvp/data_partition/variables.tf
  infra/templates/osdu-r3-mvp/service_resources/main.tf
  infra/templates/osdu-r3-mvp/service_resources/terraform.tfvars
  infra/templates/osdu-r3-mvp/service_resources/variables.tf
Due: azure-pipeline-common.yml, azure-pipeline.yml
